<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poland</title>
    <link rel="stylesheet" href="contact.page.css">
</head>
<body>
    <nav>
        <div class="nav-image-div">
            <img src="https://ih1.redbubble.net/image.779037422.9937/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="Poland">
        </div>
        <div class="nav-spacer-div">
        </div>
        <div class="nav-links-div">
            <div>
                <a href="./home.page.html">Home</a>
                <a href="./products.page.html">Products</a>
                <a href="./contact.page.html">Contacts</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="center-div">
            <div class="info-container">
                <h1>Contact information</h1>
                <p>
                    Visit us at:<br>
                    Merchandise Group<br>
                    Fryderyka Chopina 4/8<br>
                    Warszawa, 00-559 Poland<br>
                    Merch.Group@gmail.com<br>
                    +48 22 598 95 00<br>
                </p>
            </div>
            <div class="image-container">
                <img src="https://images.genius.com/1ea2570bae04b12b83f99598189cf242.1000x1000x1.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>