<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poland</title>
    <link rel="stylesheet" href="products.page.css">
</head>
<body>
    <nav>
        <div class="nav-image-div">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/1200px-Flag_of_Poland.svg.png" alt="Poland">
        </div>
        <div class="nav-spacer-div">
        </div>
        <div class="nav-links-div">
            <div>
                <a href="./home.page.html">Home</a>
                <a href="./products.page.html">Products</a>
                <a href="./contact.page.html">Contacts</a>
            </div>
        </div>
    </nav>
    <div class="div-container">
        <div class="center-div">

            <div class="products-header">
                <div class="products-header-container">
                    <h1>Products</h1>
                    <img src="https://i.scdn.co/image/ab67616d0000b273615d6910181bc514d4c4b011" alt="">
                    <p>This is your only chance to grab these rare and limited items! Designed by rapper/singer Lil Yachty known for his songs "One Night" and "Yacht Club" (featuring Juice WRLD)". Now with his new single "Poland" Lil Yachty is ready to take his career to the next level!</p>
                </div>
            </div>
            <div class="products">
                <div class="product">
                    <h3>ITTWTP T-shirt</h3>
                    <div class="product-image-container">
                        <img src="https://media-photos.depop.com/b0/38120503/1317250338_ff9fba841e544355821291f709f476cb/P0.jpg" alt="">
                        <p class="product-label">ITTWTP T-shirt 40$</p>
                    </div>
                    <p class="product-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam, illum veniam nulla voluptatem ut quis a in qui obcaecati, commodi ducimus temporibus officia rem culpa incidunt cupiditate iste corrupti!</p>
                </div>
                <div class="product">
                    <h3>Poland T-shirt</h3>
                    <div class="product-image-container">
                        <img src="https://img.teeherivar.com/200120AFD3194-1.jpg" alt="">
                        <p class="product-label">Poland T-shirt 55$</p>
                    </div>
                    <p class="product-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam, illum veniam nulla voluptatem ut quis a in qui obcaecati, commodi ducimus temporibus officia rem culpa incidunt cupiditate iste corrupti!</p>
                </div>
                <div class="product">
                    <h3>Poland song (Vinyl)</h3>
                    <div class="product-image-container">
                        <img src="https://i.scdn.co/image/ab67616d0000b273615d6910181bc514d4c4b011" alt="">
                        <p class="product-label">Poland song (Vinyl) 10$</p>
                    </div>
                    <p class="product-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam, illum veniam nulla voluptatem ut quis a in qui obcaecati, commodi ducimus temporibus officia rem culpa incidunt cupiditate iste corrupti!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>